data/el-x-koine_ugnt
data/en*
data/hbo_uhb
examples
node_modules
ufw.wspace.code-workspace
.vscode
.env
*.pyc
*__pycache__*
proskomma/node_modules
data/old_tN
data/en_ugl
./project_lexicon/alignment.db
./data/alignment/ult.csv
data/csv