data/el-x-koine_ugnt
data/hbo_uhb
data/en_tq
data/en_tw
data/en_ugl
data/en_uhal
data/en_ult
data/csv/*csv
proskomma/node_modules
project_lexicon/alignment.db
examples
node_modules
ufw.wspace.code-workspace
.vscode
.env
*.pyc
*__pycache__*
screencasts