argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
backports.csv==1.0.7
beautifulsoup4==4.9.3
bleach==3.2.1
blis==0.4.1
catalogue==1.0.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cheroot==8.4.5
CherryPy==18.6.0
click==7.1.2
cryptography==3.2.1
cycler==0.10.0
cymem==2.0.4
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.3
django-cprofile-middleware==1.0.5
django-debug-toolbar==3.2
django-environ==0.4.5
django-extensions==3.1.0
django-filter==2.4.0
djangorestframework==3.12.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
feedparser==6.0.2
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.3.0/fr_core_news_sm-2.3.0.tar.gz
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.3.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.6.0
murmurhash==1.0.4
mysqlclient==2.0.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
nl-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-2.3.0/nl_core_news_sm-2.3.0.tar.gz
nltk==3.5
notebook==6.1.5
numpy==1.19.2
openpyxl==3.0.5
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.1
Pattern==3.6
pdfminer.six==20201018
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
portend==2.6
preshed==3.0.4
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.10.28
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.4
Send2Trash==1.5.0
sgmllib3k==1.0.0
six==1.15.0
snakeviz==2.1.0
sortedcontainers==2.3.0
soupsieve==2.0.1
spacy==2.3.2
spacy-lookups-data==0.3.2
SQLAlchemy==1.3.20
sqlparse==0.4.1
srsly==1.0.4
tempora==4.0.1
terminado==0.9.1
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.51.0
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.11
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xx-ent-wiki-sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-2.3.0/xx_ent_wiki_sm-2.3.0.tar.gz
zc.lockfile==2.0
zipp==3.4.0
