{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block 'title' %} ufw Lexicon {% endblock 'title' %}
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'icon.css' %}">
    <link rel="stylesheet" href="{% static 'she_got_style.css' %}">

    <!-- sidenav https://materializecss.com/sidenav.html -->
    <!-- carousel with cards? https://materializecss.com/carousel.html -->
    <!-- feature discovery https://materializecss.com/feature-discovery.html -->
    <!-- toc https://materializecss.com/scrollspy.html for toc -->
    <!-- tooltips https://materializecss.com/tooltips.html -->
    <!-- waves https://materializecss.com/waves.html#! -->
    <!-- checkboxes to select good examples: https://materializecss.com/checkboxes.html -->
    <!-- tags (can be used with autocomplete) https://materializecss.com/chips.html -->
    <!-- quick form for a noun: is it: animate, aninal, larger than a horse, larger than your hand -->
    <!-- Color palette https://materializecss.com/color.html -->
</head>

{% block 'body' %}

{% block 'sidenav' %}
    <a href="#" data-target="slide-out" class="sidenav-trigger" style="padding:15px; margin-top: 15px; font-size:32px"><i class="material-icons">menu</i></a>
{% endblock 'sidenav' %}


<body>
    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img style="width:100%" src="{% static 'mick-haupt-eQ2Z9ay9Wws-unsplash.jpg' %}">
        </div>
        <a href="/"><img class="circle" src="{% static 'avatar.jpeg' %}"></a>
        <a href="/"><span class="white-text name">J. de J.</span></a>
        <a href="/"><span class="white-text email">johnny@dontspamme.net</span></a>
      </div></li>
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H0894' %}">H0894 (בָּבֶל)</a>
        </li>
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H7225' %}">H7225 (רֵאשִׁית)</a>
        </li>
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H8064' %}">H8064 (שָׁמַיִם)</a>
        </li>
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H2896a' %}">H7225 (טוֹב)</a>
        </li>                                
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H0430' %}">H0430 (אֱלֹהִים)</a>
        </li>  
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H0216' %}">H0216 (אוֹר)</a>
        </li>  
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H0776' %}">H0776 (אֶרֶץ)</a>
        </li>                                                                  
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'G52070' %}">G52070 (υἱός)</a>
        </li>
        <li>
            <a class="waves-effect" href="{% url 'view_entry' 'H3205' %}">H3205 (יָלַד)</a>
        </li>

      
      <li><div class="divider"></div></li>
      <li><a href="/api"><i class="material-icons">cloud</i>API</a></li>
      <li><a href="{% url 'admin:index' %}"><i class="material-icons">mode_edit</i>Edit</a></li>
      <li><a href="{% url 'view_verse' '06-JOS' 1 1 %}"><i class="material-icons">menu_book</i>Text</a></li>
      <li><a href="{% url 'list_notes' %}"><i class="material-icons">content_copy</i>Notes</a></li>

    </ul>


  
    {% block 'header' %} 
    {% endblock 'header' %} 


    
    {% block 'main' %} 
    {% endblock 'main' %} 
    
    {% block 'footer' %}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l7 s12">
                    <h5 class="white-text">unfoldingWord</h5>
                    <p class="grey-text text-lighten-4">gatewayLexicons</p>
                </div>
                <!-- <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 unfoldingWord
                <a class="grey-text text-lighten-4 right" href="#!">Proof of concept</a>
            </div>
        </div>
    </footer>

    {% endblock 'footer' %} 
    
    {% block 'scripts' %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'materialize.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left'
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        });
    </script>
    <script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
    </script>
    {% block 'extra_javascript' %}
     {% endblock 'extra_javascript' %} 
     
     {% endblock 'scripts' %}

</body>
{% endblock 'body' %}

</html>