<div class="row">
    <div class="col s11">
        <h3 class="{{ font }}" style="font-size:3em">{{ lemma }}</h3>
        <div class="divider"></div>

        <p>
            {% url 'view_entry' entry as url %}
            <a class="waves-effect waves-light btn teal {% if request.path == url %}green{% endif %}" href="{{ url }}">
                <i class="material-icons left">line_style</i>Alignment</a>

            {% url 'view_collocates' lemma as url %}
            <a class="waves-effect waves-light btn teal {% if request.path|iriencode == url %}green{% endif %}" href="{{ url }}">
                <i class="material-icons left">engineering</i>Collocates</a>

            {% url 'view_dictionary' entry as url %}
            <a class="waves-effect waves-light btn teal {% if request.path|iriencode == url %}green{% endif %}" href="{{ url }}">
                <i class="material-icons left">menu_book</i>Dictionary</a>

            {% url 'view_resources' entry as url %}
            <a class="waves-effect waves-light btn teal {% if request.path|iriencode == url %}green{% endif %}" href="{{ url }}">
                <i class="material-icons left">speaker_notes</i>tN tW</a>

            {% comment %} {% url 'view_collocates' lemma as url %}
            <a class="waves-effect waves-light btn teal {% if request.path|iriencode == url %}green{% endif %}" href="{{ url }}">
                <i class="material-icons left">engineering</i>Glosses</a> {% endcomment %}

            {% url 'view_forms' entry as url %}
            <a class="waves-effect waves-light btn teal {% if request.path|iriencode == url %}green{% endif %}" href="{{ url }}">
                <i class="material-icons left">grid_view</i>Forms</a>
        </p>

        <p>{% for sense in senses_text %}{{ sense}}{% if not forloop.last %},{%endif%} {% endfor %}</p>
    </div>
</div>