{% extends 'lexicon/lexicon_base.html' %}
{% load static %}

{% block 'main' %}

<main>
    <div class="container">
        <div class="row">
            <div class="col s8">
                <h3 class="hb">Lexicon entries</h3>
                <div class="divider"></div>

                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="collection">
                                {% for entry, count in entries.items %}
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' entry %}">                                    
                                        {{ entry }} ({{ count }}x)
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock 'main' %}

