{% extends 'lexicon/lexicon_base.html' %} 
{% load static %} 
{% block 'header' %}

{% block 'sidenav' %}
{% endblock 'sidenav' %}

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-left: 10px">Gateway</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="{% url 'list_schemes' %}">
                    Annotation
                </a>
            </li>
            <li>
                <a href="{% url 'list_notes' %}">
                    Notes
                </a>
            </li>
            <li>
                <a href="{% url 'view_verse' '06-JOS' 1 1 %}">Verses</a>
            </li>
            <li>
                <a href="/api">API</a>
            </li>
            <li>
                <a href="{% url 'admin:index' %}">Edit</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock 'header' %} 
{% block 'main' %}

<main>
    <div class="container">
        <div class="row">
            <div class="col s10">
                <h3>Lexicon entries</h3>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <form action="/" method="POST">
                                    {% csrf_token %}
                                    <i class="material-icons prefix">text_snippet</i>
                                    <input type="text" id="input"  name="input" class="autocomplete">
                                    <label for="input">Search for a strongs number, a lemma, or an alignment</label>                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% if results %}
                <h4>Results</h4>
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="collection">
                                {% for result in results %}
                                
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' result.strongs_no_prefix %}">
                                        {{ result.strongs_no_prefix}} ({{ result.lemma }})</a> {% if result.hit_count %}x {{result.hit_count}}{%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% else %}
                <h4>Examples</h4>
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="collection">
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H0894' %}">H0894 (בָּבֶל)</a>
                                </li>
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H7225' %}">H7225 (רֵאשִׁית)</a>
                                </li>
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H8064' %}">H8064 (שָׁמַיִם)</a>
                                </li>
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H2896a' %}">H2896a (טוֹב)</a>
                                </li>                                
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H0430' %}">H0430 (אֱלֹהִים)</a>
                                </li>  
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H0216' %}">H0216 (אוֹר)</a>
                                </li>  
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H0776' %}">H0776 (אֶרֶץ)</a>
                                </li>                                                                  
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'G52070' %}">G52070 (υἱός)</a>
                                </li>
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' 'H3205' %}">H3205 (יָלַד)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if entries %}
            <div class="col s5">
                <h4>Hebrew</h4>
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="collection">
                                {% for entry, count in entries.items %}
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' entry %}">                                    
                                        {{ entry }} {{ count }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if greek%}
            <div class="col s5">
                <h4>Greek</h4>

                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="collection">
                                {% for entry, count in greek.items %}
                                <li class="collection-item">
                                    <a href="{% url 'view_entry' entry %}" class="gk small">                                    
                                        {{ entry }} {{ count }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
            {% endif %}             
            </div>
        </div>
    </div>
</main>
{% endblock 'main' %} 

{% block 'scripts' %} 
{{ block.super }}

<script>
    $(document).ready(function() {
        $('input.autocomplete').autocomplete({
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": null,
                { %
                    for key in entries %
                }
                "{{ key }}": null,
                { % endfor %
                }
            },
            limit: 15,
        });
    });
</script>
{% endblock 'scripts' %}