{% extends "lexicon/lexicon_base.html" %} {% block 'main' %}
<main>
    <div class="container">

        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        {% include "lexicon/lexicon_menu.html" %}

        <div class="row">
            <div class="col s10">
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            {% if words %}
                                {% for word in words %}
                                    {{ word }} 
                                {% endfor %}
                            {% endif %}

                            {% if related_words %}
                                {% for word in related_words %}
                                    {{ word }}
                                {% endfor %}
                            {% endif %}    

                            {% if notes %}
                                {% for note in notes %}
                                <div style="margin-bottom: 10px">
                                    <p>{{ note.book }} {{ note.chapter }}:{{ note.verse }}</p>

                                    {% for token in note.source.all %}
                                    <span class="hb">{{token.token}}</span>
                                    {% endfor %}

                                    <p>
                                    {% for token in note.source.all %}
                                        {% for target in token.target_set.all %}
                                            <i>{{target.target_token}}</i>
                                        {% endfor %} 
                                    {% endfor %} 

                                    
                                    <p><b>{{ note.supportreference }}</b> {{ note.annotation}}</p>
                                {% endfor %}
                            {% endif %}                               
                        </div>
                        <div class="card-action">
                            <a href="#" class="right">Advanced</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock 'main' %} {% block 'scripts' %} {{ block.super }}

<script>
    $(document).ready(function() {
        { % comment %
        }
        $('.tabs').tabs(options = {
            'swipeable': true
        }); { % endcomment %
        }
        $('.tabs').tabs();
    });
</script>
{% endblock 'scripts' %}