{% extends "lexicon/lexicon_base.html" %} {% block 'main' %}

<main>
    <div class="container">

        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        {% include "lexicon/lexicon_menu.html" %}

        <div class="row">
            <div class="col s3">
                <table style="width:100%">
                    <tbody>
                        {% for c in collocates %}
                        <tr>
                            <td>
                                <a class="collocate {{font}} small" href="{% url 'query' node.node c.0 %}">{{c.0}}</a>
                            </td>
                            <td>{{c.1|floatformat:3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col s8 z-depth-2 offset-s1" style="margin-top: 14px; padding-bottom: 40px;">
                <h4>Co-occurrences</h4>
                <p id="glosses"></p>
                <div id="concordance"></div>
            </div>
        </div>
    </div>


</main>
{% endblock 'main' %} {% block 'scripts' %} {{ block.super }}
<script>
    $(document).ready(function() {

        function getVerse(item) {
            let allIds = [];
            $('.hl',item).each(function () {
                allIds.push($(this).attr('id')); // ids.push(this.id) would work as well.
            });
            let idString = '?pk=' + allIds.join('&pk=');

            // const ids = $(".hl", item).attr('id');
            // gloss_href = `/api/sourcetoverse/?pk=${ids}&target=true`
            gloss_href = `/api/sourcetoverse/${idString}&target=true`;

            $.getJSON(gloss_href, function(response) {
                // remove the existing glosses
                $("#verse", item).html('');
                $("#verse", item).append(JSON.parse( response));
            });

        };


        $("a.collocate").click(function(event) {

            let href = $(this).attr('href');
            let lemma = $(this).text();
            let gloss_href = "/api/glosses/?strongs=&lemma=" + lemma

            // remove the existing glosses
            $("#glosses").html('');
            // remove the existing co-occurrences
            $("#concordance").html('');


            $.getJSON(gloss_href, function(response) {
                $.each(response.results, function(idx, val) {
                    $("#glosses").append(val.long + ', ');
                });
            });


            $.getJSON(href, function(response) {
                // $.each(response, function(idx, val) {
                //     $("#concordance").append('<p class="hb small" dir="rtl">' + val + ' <i class="material-icons left" style="color:grey">read_more</i>' + '</p>');
                // });

                $("#concordance").append('<ul id="lines" class="collapsible clearCollapsible"></ul>');
                    
                $.each(response, function(idx, val) {
                    $("#lines").append('<li>' +
                '<div class="collapsible-header hb small" style="display:-webkit-box !important;" {% if font == 'hb' %}dir="rtl"{% endif %}>' + val + '</div>' +
                '<div class="collapsible-body"><span id="verse"><span style="color:grey">Loading the verse</span></span></div>' +
                '</li>')
                });

                $('.collapsible').collapsible({'onOpenEnd':getVerse});

            });

            event.preventDefault();
        });
    });
</script>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

{% endblock 'scripts' %}