{% extends "lexicon/lexicon_base.html" %}

{% block 'main' %}

<main>
    <div class="container">

        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        {% include "lexicon/lexicon_menu.html" %}

        <div class="row">
            <div class="col s3">
                <table style="width:100%">
                <tbody>
                {% for c in collocates %}
                    <tr>
                        <td>
                        <a class="collocate" href="{% url 'query' node.node c.0 %}">{{c.0}}</a>
                        </td>
                        <td>{{c.1|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="col s8 z-depth-2 offset-s1" style="margin-top: 14px; padding-bottom: 40px;">
                <h4>Co-occurrences</h4>
                <p id="glosses"></p>
                <div id="concordance"></div>
            </div>
        </div>
    </div>


</main>
{% endblock 'main' %}

{% block 'scripts' %}
    {{ block.super }}
    <script>
    $( document ).ready(function() {

        $( "a.collocate" ).click(function( event ) {

            let href = $(this).attr('href');
            let lemma = $(this).text();
            let gloss_href =  "/api/glosses/?strongs=&lemma=" + lemma

            $.getJSON(gloss_href, function( response ) {

                // remove the existing glosses
                $( "#glosses" ).html('');
                
                $.each(response.results, function( idx, val ) {
                    $( "#glosses" ).append(val.long + ', ');
                });
            });


            $.getJSON( href, function( response ) {

                // remove the existing co-occurrences
                $( "#concordance" ).html('');
                
                $.each(response, function( idx, val ) {
                    $( "#concordance" ).append( '<p class="hb small" dir="rtl">' + val + '</p>');
                });
            });

            event.preventDefault();
        });    
    });
    </script>

{% endblock 'scripts' %}
