{% extends "lexicon/lexicon_base.html" %} {% block 'main' %}
<main>
    <div class="container">

        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        {% include "lexicon/lexicon_menu.html" %}

        <div class="row">
            <div class="col s10">
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="tabs">
                                {% for entry in bdb_entries %}
                                <li class="tab col s3"><a href="#{{ entry.bdb }}">{{ entry.bdb }}</a></li>
                                {% endfor %} 
                                {% for entry in dodson %}
                                <li class="tab col s3"><a href="#{{ entry.strongs }}">{{ entry.strongs }}</a></li>
                                {% endfor %}
                            </ul>
                            {% for entry in bdb_entries %}
                            <div style="padding-top: 14px" id="{{ entry.bdb }}" class="col s12">{{ entry.full|safe }}</div>
                            <h3>{{ bdb_entries.bdb_senses }} </h3>
                            {% endfor %}
                            {% for entry in dodson %}
                            <div style="padding-top: 14px" id="{{ entry.strongs }}" class="col s12">{{ entry.long|safe }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s2 z-depth-2" style="margin-top: 10px">
                <p class="right-align">
                    <a class="waves-effect waves-light btn teal" href="{% url 'view_parsed_dictionary' entry %}">
                        <i class="material-icons right">engineering</i>Parse</a>
                </p>
            </div>
        </div>
</main>

{% endblock 'main' %} {% block 'scripts' %} {{ block.super }}

<script>
    $(document).ready(function() {
        $('.tabs').tabs();
    });
</script>
{% endblock 'scripts' %}