{% extends "lexicon/lexicon_base.html" %} 


{% block 'main' %}
<main>
    <div class="container">

        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        {% include "lexicon/lexicon_menu.html" %}

        <div class="row">
            <div class="col s10">
                <div class="card horizontal z-depth-2">
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="tabs">
                                {% for entry in bdb_entries %} 
                                    <li class="tab col s3"><a href="#{{ entry.bdb }}">{{ entry.bdb }}</a></li>
                                {% endfor %}
                            </ul>
                            {% for entry in bdb_entries %} 
                                <div style="padding-top: 14px" id="{{ entry.bdb }}" class="col s12">{{ entry.full|safe }}</div>
                            {% endfor %}
                        </div>
                        <div class="card-action">
                            <a href="#" class="right">Advanced</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock 'main' %} 

{% block 'scripts' %}
{{ block.super }}

<script>
    

    $(document).ready(function() {
        {% comment %} $('.tabs').tabs(options={'swipeable':true}); {% endcomment %}
        $('.tabs').tabs();
    });
</script>
{% endblock 'scripts' %}