{% extends "lexicon/lexicon_base.html" %}

{% block 'main' %}

<main>
    <div class="container">

        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        <div class="row">
            <div class="col s4">
                <h3 class="{{ font }} hb" style="font-size:3em">{{ node.node }}</h3>
                <div class="divider"></div>
                {% for c in collocates %}
                <p><a href="{% url 'query' node.node c.0 %}">{{c.0}} ({{c.1}})</a></p>
                {% endfor %}
            </div>
            <div class="col s7 z-depth-2 offset-s1" style="margin-top: 40px; padding-bottom: 40px;">
                <h4>Co-occurrences</h4>
                <div id="concordance"></div>
              
            </div>
        </div>
    </div>


</main>
{% endblock 'main' %}

{% block 'scripts' %}
    {{ block.super }}
    <script>
    $( document ).ready(function() {

        $( "a" ).click(function( event ) {

            let href = $(this).attr('href');

            $.getJSON( href, function( response ) {

                // remove the existing co-occurrences
                $( "#concordance" ).html('');
                
                $.each(response, function( idx, val ) {
                    $( "#concordance" ).append( '<p class="" dir="rtl">' + val + '</p>');
                });
            });

            event.preventDefault();
        });    
    });
    </script>

{% endblock 'scripts' %}
