.hb {
    font-family: 'SBL Hebrew';
    font-size: 1.5em;
    /* font not included, presumed already installed for PoC */
}

.gk {
    font-family: 'SBL Greek';
    font-size: 1.5em;
    /* font not included, presumed already installed for PoC */
}

.hl {
    font-weight: bold;
}

.larger {
    font-size: 1.4em;
}