.hb {
    font-family: 'SBL Hebrew';
    font-size: 1.5em;
    /* font not included, presumed already installed for PoC */
}

.gk {
    font-family: 'SBL Greek';
    font-size: 1.5em;
    /* font not included, presumed already installed for PoC */
}

.small {
    font-size: 1.2em;
}

.hl {
    font-weight: bold;
}

.larger {
    font-size: 1.4em;
}

.clearCollapsible {
    border: none;
    box-shadow: none;
}

.selected {
    color: #ca6165;
}